@model HWQATool.Models.Audit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Audit</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.AuditNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuditNumber)
                @Html.ValidationMessageFor(model => model.AuditNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BatchNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BatchNumber)
                @Html.ValidationMessageFor(model => model.BatchNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FileNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FileNumber)
                @Html.ValidationMessageFor(model => model.FileNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceRequestNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceRequestNumber)
                @Html.ValidationMessageFor(model => model.ServiceRequestNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProcessedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProcessedDate)
                @Html.ValidationMessageFor(model => model.ProcessedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Processor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Processor)
                @Html.ValidationMessageFor(model => model.Processor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlatformId, "PlatformId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlatformId", String.Empty)
                @Html.ValidationMessageFor(model => model.PlatformId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubTaskId, "SubTaskId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubTaskId", String.Empty)
                @Html.ValidationMessageFor(model => model.SubTaskId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientId, "ClientId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClientId", String.Empty)
                @Html.ValidationMessageFor(model => model.ClientId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Auditor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Auditor)
                @Html.ValidationMessageFor(model => model.Auditor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuditDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuditDate)
                @Html.ValidationMessageFor(model => model.AuditDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuditorComments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AuditorComments)
                @Html.ValidationMessageFor(model => model.AuditorComments)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ISDefect, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ISDefect)
                @Html.ValidationMessageFor(model => model.ISDefect)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsLearning, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsLearning)
                @Html.ValidationMessageFor(model => model.IsLearning)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsEscalation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsEscalation)
                @Html.ValidationMessageFor(model => model.IsEscalation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsClientFocus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsClientFocus)
                @Html.ValidationMessageFor(model => model.IsClientFocus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsDuplicate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsDuplicate)
                @Html.ValidationMessageFor(model => model.IsDuplicate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsSampled, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsSampled)
                @Html.ValidationMessageFor(model => model.IsSampled)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoOfRecords, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOfRecords)
                @Html.ValidationMessageFor(model => model.NoOfRecords)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Version)
                @Html.ValidationMessageFor(model => model.Version)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModifiedAt, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModifiedAt)
                @Html.ValidationMessageFor(model => model.LastModifiedAt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModifiedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModifiedBy)
                @Html.ValidationMessageFor(model => model.LastModifiedBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
