@model IEnumerable<HWQATool.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            S. No.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualityBenchMark)
        </th>
        <th></th>
    </tr>

@foreach(var item in Model.Select((item,index)=>new{item,index})){
    <tr>
        <td>
            @(item.index+1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item.QualityBenchMark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.item.Id })
        </td>
    </tr>
}

</table>
